
body{
    background-color: DarkCyan;
    color: white;
    font-family: Arial;  
}

h1, p{
    text-align: center;
}

img {
    margin: auto;
    display: block;
    width: 800px;
}

